				</article>
				<!-- /.<%= getArticleClass('.'); %> -->
			</main>
			<!-- /#primary -->
			<div class="c-pagetop">
				<a href="#">PAGE TOP</a>
			</div>
			<!-- /#pagetop -->
		</div>
		<!-- /#content -->
		<footer class="l-footer">
			<div class="l-footer__inner">
				<div class="l-footer__contents">
					<div class="l-footer__img">
						<figure>
							<img src="<%= getRelativePath('/image/logo_footer.png'); %>" alt="logo_footer">
						</figure>
					</div>
					<div class="l-footer__online">
						オンラインショップ
					</div>
					<nav class="l-footer__menu">
						<ul>
							<li>ひる</li>
							<li>よる</li>
							<li>ショッピング</li>
							<li>店舗情報</li>
							<li>採用情報</li>
						</ul>
					</nav>
					<div class="l-footer__copyright">©2022 ひるとよる All Rights Reserved.</div>
				</div>
			</div>
		</footer>
		<!-- /#footer -->
	</div>
	<!-- /#all -->
	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
	<% if(getPageId() == 'index' || getPageId() == 'jsparts_slider') { %>
		<script src="<%= getRelativePath('/js/slick.min.js'); %>"></script>
		<script src="<%= getRelativePath('/js/index.js'); %>"></script>
	<% } else if(getPageId() == 'headermv_mv-youtube') { %>
		<script src="<%= getRelativePath('/js/jquery.mb.YTPlayer.min.js'); %>"></script>
		<script>
			$(function() {
				$('#videoPlay').YTPlayer(); //動画の呼び出し部分に指定したID
			});
		</script>
	<% } %>
</body>
</html>